<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ltl -->
      <package
            uri="http://www.leonardo.com/ltl/LTL"
            class="com.leonardo.ltl.ltl.LtlPackage"
            genModel="model/ltl.genmodel"/>
   </extension>

</plugin>
